body {
    font-size: 100%;
    line-height: 1,20;
    color: #ffffff;
    font-weight: normal;
    font-family: "Roboto Bold", "Arial", serif;  
}

h1 {
    font-size: 35px;
    line-height: 30px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}
   
p  {
    font-size: 16px;
    line-height: 22px;
  
/*
Я догадываюсь, зачем устанавливать относительную высоту строки, но не понимаю, почему она должна быть 1, ведь тогда строки будут сливаться...Почитав статью по типографике из материалов от 3 вебинара, поставила 1,20... Что совпадает с интерлиньяжем в тех местах, где стоит авто в photoshop
*/

/*
А вот как подключить шрифт я так и не понимаю...И я бы хотела это оставить до следующей лекции, на которой это должно разбираться...ок?
*/