body {
  min-width: 1200px;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto", "Arial", serif; 
  margin: 0 auto;
  background: #849d8f;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

 /*Главная*/
body > input[type="radio"]{
  display: none;
}
 
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.site-wrapper{
  min-width: 940px;
  background:  #849d8f url("../img/bg-big-ice1.png") no-repeat top center;
  color:#ffffff;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before,
.site-wrapper::after {
  background-image: url("../img/bg-big-ice1.png");
}

.site-wrapper::after {
  background-image: url("../img/bg-big-ice3.png");
}
.container {
  width: 1146px;
  margin: 0 auto;
}

.main-header{
  padding-top: 10px;
}

.main-header-left{
  float: left;
  width: 770px;
  min-height: 64px;
  font-size: 0;
}

.logolink-gllacy-index{
  pointer-events: none;
}

.main-header-logo {
  display:inline-block;
  vertical-align: top;
}

.main-navigation{
  display: inline-block;
  vertical-align: top;
}

.main-navigation ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  font-size: 0;
  margin-left: 10px;
}

.main-navigation-item{
  display: inline-block; 
  vertical-align: top;
  padding-top: 13px;
  padding-bottom: 19px;
}

.main-navigation-item:first-child{
  position:relative;
}

.main-navigation-item > a{
  display:block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 6px 14px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation-item > a:hover{
  background:#f7f6f3;
  border-radius: 16px;
  color: #333333;
}

.main-navigation-item > a:active{
  background: #ededed;
  color:#333333;
  box-shadow:inset 0 2px 1px 0 #696969;
}

.link-border{
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.main-navigation a:hover .link-border{
  border-bottom: 0;
}
.main-navigation a:active .link-border{
  border-bottom: 0;
}

.main-navigation .submenu{
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0; 
  width:146px;
  min-height: 165px;
  background: #f8f7f4;
  border-radius: 8px;
  color: #333333;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  position:absolute;
  left: -8px;
  top:50px;
  z-index: 30;
}

.submenu li{
  padding:0;
  margin:0;
}
.submenu-link{
  display:block;
  color:#343434;
  font-size:14px;
  line-height:24px;
  font-weight:400;
  text-decoration: none;
  padding:5px 20px;
}

.submenu-link-new{
  font-weight:700;
  position:relative;
  padding:8px 20px;
  color:#343434;
}

.submenu-link-new::after{
  position:absolute;
  content:"";
  margin:0 8px;
  height: 1px;
  background:rgba(52, 52, 52, 0.2);
  right: 8px;
  bottom: 0;
  left: 8px;
}


.catalog:hover .submenu{
  display:block;
}

.submenu a:hover{
  background:#fbded7;
  color:#343434;
  border-radius: 0;
}

.submenu a:active{
  background:#f6b5a5;
  border-radius: 0;
}

.submenu .submenu-link-new:hover,
.submenu .submenu-link-new:active{
  border-radius: 8px 8px 0 0;
}

.submenu .submenu-last-item:hover,
.submenu .submenu-last-item:active{
  border-radius: 0 0 8px 8px;
}

.main-header-right{
  float: right;
  width: 367px;
  min-height: 51px;
  font-size: 0;
  padding-top: 13px;
  text-align:right;
}
.search{
  display: inline-block;
  vertical-align: top;
  position:relative;
  width:140px;
}
.btn{
  display:inline-block;
  vertical-align: top;
  padding:14px 24px;
  color:#ffffff;
  font-size: 18px;
  font-weight:700;
  line-height: 1;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 22px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-decoration: none;
  border:none;
}
.search .search-btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 16px;
  width: 32px;
  height: 32px;
  margin: 0 5px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2); 
  position:relative;
}
.search-btn:hover{
 background: #ffffff; 
}
.search .search-btn::before{
  content:"";
  position:absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  background-position: -10px -682px;
  top: 25%;
  left: 25%;
  
}
.search-btn:hover::before{
  content:"";
  position:absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  background-position: -10px -719px;
  top: 25%;
  left: 25%;
}

.search form{
  display: none;
  width: 312px;
  min-height: 40px;
  background: #f8f7f4;
  color: #999999;
  border-radius: 6px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  position: absolute;
  right: 3px;
  top: 40px;
  padding: 15px;
  z-index: 31;
  text-align: left
}

.search:hover form{
  display:block;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  line-height: 14px;
}

.search-label{
  position: absolute;
  top: 14px;
  left: 10px;
  color: #9a9a9a;
  font-size: 11px;
  font-weight:400;
  z-index: 2;
  pointer-events: none;
  transition: transform 200ms ease;
  transform: translateY(-28px);
}

.search-label:before{
  content: attr(data-first);
  white-space: nowrap;
}

.search input[type="search"]{
  position: relative;
  box-sizing: content-box;
  width: 286px;
  font-size: 16px;
  line-height:24px;
  height:24px;
  padding: 7px 12px;
  background: #ffffff;
  font-weight: 700;
  white-space: nowrap;
  box-shadow:inset 0 0 0 1px #d3d3d2;
  border-radius: 5px;
  color: #353535;
  outline: none;
  border:none;
}

.search input[type="search"]:hover{
  box-shadow:inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}


.search input[type="search"]:focus{
  box-shadow:inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}


.search input[type="search"]:invalid + label{
  color: #999999;
  font-weight: 400;
  position: absolute;
  transform: translateY(0);
  font-size:14px;
  font-weight:400;
}
.search input[type="search"]:focus + label{
  transform: translateY(-28px);
  font-size:11px;
  font-weight:400;
  color:#5b9ddf;
}

.user-block{
  display: inline-block;
  vertical-align: top;
  height: 32px;
  margin: 0 5px;
  padding-bottom: 20px;
  position:relative;
}
.user-block .user-btn{
  display:block;
  background: rgba(255, 255, 255, 0.2); 
  border-radius: 16px;
  min-width: 34px;
  font-size:14px;
  font-weight: 500;
  line-height:22px;
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  padding-left: 44px;
  padding-right: 16px;
}
.user-block .user-btn:hover{
  background: #ffffff;
  color:#323232;
}
.user-block::before{
  content:"";
  position:absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 19px;
  background-position: -10px -547px;
  top: 7px;
  left: 17px;
} 
.user-block .user-btn:hover::before{
  content:"";
  position:absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 19px;
  background-position: -10px -586px;
  top: 8px;
  left: 15px;
}

.user-block form{
  display:none;
  width: 244px;
  min-height: 147px;
  padding: 14px;
  padding-top: 20px;
  padding-bottom: 10px;
  background: #f8f7f4;
  color: #999999;
  border-radius: 6px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 32;}

.label-email,
.label-password{
  position: absolute;
  top: 14px;
  left: 10px;
  color: #9a9a9a;
  font-size: 11px;
  font-weight:400;
  z-index: 3;
  pointer-events: none;
  transition: transform 200ms ease;
  transform: translateY(-26px);
}


.label-email::before,
.label-password::before{
  content: attr(data-first);
  white-space: nowrap;
}
.user-block input{
  position: relative;
  width: 216px;
  height:24px;
  margin-bottom: 10px;
  padding:7px 12px;
  background: #ffffff;
  font-size:16px;
  line-height:24px;
  font-weight:700;
  color: #353535;
  white-space:nowrap;
  box-shadow:inset 0 0 0 1px #d3d3d2;
  box-sizing:content;
  outline:none;
  border:none;
  border-radius: 5px;
}

.user-block input:hover{
  box-shadow:inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.user-block input:focus{
  box-shadow:inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}


.user-block input:invalid + label{
  transform: translateY(0);
  font-size:16px;
  font-weight:400;
  color:#999999;
  font-weight:400;
}

.user-block input:focus + label{
  transform: translateY(-26px);
  font-size:11px;
  font-weight:400;
  color:#5b9ddf;
}





.user-block .btn-login{
  float:left;
  font-size:15px;
  line-height: 25px;
  padding:5px 28px;
  margin-top: 5px;
}
.user-block-links{
  float:right;
  min-height:36px;
  width: 120px;
  text-align: left;
  margin-top: 5px;
}
.user-block-link{
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  border-bottom: 1px solid #9c9c9c;
  color: #333333;
  text-decoration: none;
}

.user-block-link:hover,
.user-block-link:active{
  color:#ec593c;
  border-bottom:1px solid rgba(255, 188, 158, 0.3);
}

.user-block:hover form{
  display:block;
}

.basket{
  display: inline-block;
  vertical-align: top;
  padding-bottom: 20px;
}

.basket .basket-btn{
  display: block;
  background: rgba(255, 255, 255, 0.2); 
  border-radius: 16px;
  width: 63px;
  padding:5px 0;
  padding-left: 45px;
  padding-right: 10px;
  margin: 0;
  margin-left: 5px;
  font-size:14px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  position:relative;
  text-align:left;
}


.basket .link-basket-empty::before{
  content:"";
  position:absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  background-position: -10px -90px;
  top: 6px;
  left: 17px;
}

.basket-btn:hover{
  background: #ffffff;
  color:#323232;
}

.basket .link-basket-empty:hover::before{
  content:"";
  position:absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  background-position: -10px -10px;
  top: 6px;
  left: 17px;
}

.basket-empty{
  display: inline-block;
  vertical-align: top;
}

.basket-full{
  display:none;
  vertical-align: top;
  position:relative;
}
.basket .link-basket-full{
  background:#f7f6f3;
  color:#313131;
} 
.basket .link-basket-full::before{
  content:"";
  position:absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  background-position:-10px -50px;
  top: 6px;
  left: 10px;
}

.basket-full form{
  display: none;
  position: absolute;
  width: 510px;
  min-height: 220px;
  background: #f8f7f4;
  color: #333333;
  font-weight: 400;
  font-size: 13px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 20px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 15px;
  padding-bottom: 0px;
  border-radius: 5px;
  top: 38px;
  right: 0;
  z-index: 33;
}

.basket-full .table{
  display:table;
}
.basket-full .tr{
  display: table-row;
}
.basket-full .th{
  display: table-cell;
  padding:15px;
  text-align: left;
  min-height: 20px;
  vertical-align:top;
}
.basket-full .basket-item-delete{
  position:relative;
  padding-left:0;
}

.basket-item-delete .basket-checkbox-indicator{
  display:inline-block;
  vertical-align: top;
  height:10px;
  width:10px;
  cursor: pointer;
}
.basket-checkbox-indicator::after{
  content: "";
  background: #666665;
  width:2px;
  height:14px;
  transform: rotate(-45deg);
  position:absolute;
  top:20px
  left:5px;
  border-radius: 1px;
}
.basket-checkbox-indicator::before{
  content: "";
  background: #666665;
  width:2px;
  height:14px;
  transform: rotate(45deg);
  position:absolute;
  top:20px
  left:5px;
  border-radius: 1px;
}
.basket-full .basket-item-img{
  padding:0;
  padding-top: 10px;
}
.basket-item-img img{
  border-radius: 17px;
}
.basket-full .basket-item-name{
  width: 220px;
}
.basket-full .basket-item-weight{
  padding-right: 4px;
}
.basket-full .basket-item-per-kg{
  padding-left: 0;
  color:#7f7f7f;
}
.basket-full .basket-item-price{
  width:50px;
  padding-left: 10px;
}
.basket-full .basket-total-cost{
  text-align: right;
  font-size:15px;
  font-weight: 700;
  border-top: 2px solid #cacac7;
  padding: 15px 10px;
}

.basket-full .btn-basket-order{
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  padding:5px 20px;
}
.basket-full:hover form{
  display: block;
}

.contact-info{
  float: right;
  width: 267px;
  min-height: 40px;
  text-align: right;
}
.contact-info-index{
  margin-bottom: 270px;
}

.contact-info p{
  margin:0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 700;
}

.contact-info b{
  margin:0;
  padding: 0; 
  font-size: 22px;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 900;
}

.slider{
  clear:both;
  min-height: 210px;
  margin-bottom: 40px;
  margin-top: 0;
  position: relative;
  text-align: center;
}

.slide{
  display:none;
}

.slider .slide-headerline{
  width: 680px;
  margin:0 auto;
  color:#ffffff;
  font-size: 60px;
  line-height: 60px;
  font-weight:900;
  margin-bottom: 30px;
}


.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider .btn-givemetwo{
  padding:17px 40px;
  font-size: 30px;
  line-height: 30px;
  font-weight:700;
  border-radius: 32px;
}  

.slider-controls{
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label{
  display:inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  font-size: 16px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
} 

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/bg-big-ice1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/bg-big-ice2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/bg-big-ice3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.slaider-btn:hover{
  background: rgba(255, 255, 255, 0.4);
}

.free article{
  padding: 20px;
  width: 520px;
  min-height: 189px;
  margin-bottom: 28px;
}

.free-raspberry{
  float: left;
  background: #cd3559 url("../img/bg-raspberry.png") no-repeat;
  border-radius: 20px;
  color:#ffffff;
}
.free-chocolate{
  float: right;
  background: #44281c url("../img/bg-choco.png") no-repeat;
  border-radius: 20px;
  color:#ffffff;
}
.free h2{
  font-size:35px;
  font-weight: 700;
  line-height: 35px;
  color:#ffffff;
  margin: 0;
  margin-bottom: 16px;
}
.free p{
  font-size:18px;
  font-weight: 700;
  line-height: 24px;
  color:#ffffff;
  margin:16px 0;
}
.free .btn{
  float:right; 
  margin-top:24px; 
}

.hit{
  font-size: 0;
  width: 1166px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}

.hit article{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  width: 267px;
  min-height: 300px;
  margin-right: 6px;
  margin-bottom: 30px;
  padding-right: 10px;
  padding-left:10px;
  padding-top:10px;
  position: relative;
  text-align: center;
}

.hit article:nth-child(4n){
  margin-right: 0;
}

.hit article::before{
  content: "";
  position:absolute;
  background: url(../img/sprite.png) no-repeat;
  width: 61px;
  height: 61px;
  background-position: -10px -281px;
}
.hit img{
  border-radius: 100%; 
  margin-bottom: 10px;
}
.hit .price{
  position: absolute;
  top: 220px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.hit .amount{
  margin:0;
  padding: 0;
  font-size:45px;
  line-height: 1;
  font-weight:700;
}
.hit .amount + span{
  font-size:30px;
  line-height: 1;
  font-weight:700;
}
.hit .link-icecream{
  display:block;
  color:#ffffff;
  font-weight: 500;
  line-height: 22px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}
.link-transparent-bg:hover,
.link-transparent-bg:active{
  color:#ffbc9e;
}
.link-transparent-bg:hover .link-border,
.link-transparent-bg:active .link-border{
  border-bottom:1px solid rgba(255, 188, 158, 0.3);
}

.hit-btn-bg{
  position:absolute;
  width: 287px;
  left:0;
  background:rgba(255, 255, 255, 0.3);
  box-shadow:0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0 0 5px 5px;
  display:none;
  z-index: 50;
}

.hit .bth-quick-view{
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 27px;
  padding-right: 27px; 
}
.hit article:hover{
  background:rgba(255, 255, 255, 0.3);
  border-radius: 5px 5px 0 0;
} 
.hit article:hover .hit-btn-bg{
  display:block;
}
.hit article:hover .bth-quick-view{
  display:inline-block;
  vertical-align: top;
}

.features{
  min-height: 253px;
  margin-bottom: 38px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 23px;
  padding-bottom: 25px;
  background: #ebddbe url("../img/bg-waffle.jpg");
  color:#323232;
  border-radius: 20px;
}

.features-left{
  float: left;
  width: 540px;
  min-height: 190px;
}

.features-right{
  float: right;
  width: 540px;
  min-height: 190px;
}

.features .features-item{
  padding-left: 57px;
  position:relative;
}

.features .features-left-up::before{
  content:"";
  position:absolute;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 47px;
  height: 47px;
  background-position: -10px -362px;
  left:0;
  top:10px;
}
.features .features-left-down::before{
  content:"";
  position:absolute;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 47px;
  height: 47px;
  background-position: -10px -480px;
  left:0;
  top:10px;
}
.features .features-right-up::before{
  content:"";
  position:absolute;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 47px;
  height: 47px;
  background-position: -10px -130px;
  left:0;
  top:10px;
}
.features .features-right-down::before{
  content:"";
  position:absolute;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 47px;
  height: 47px;
  background-position: -10px -806px;
  left:0;
  top:10px;
}

.features h3{
  font-size:24px;
  line-height: 30px;
  font-weight:500;
  padding:0;
  margin:0;
}

.features p{
  font-size:16px;
  line-height: 22px;
  font-weight:400;
  padding:0;
  padding-top: 22px;
  margin:0;
}

.glacy-online{
  margin-bottom: 38px;
  min-height: 220px;
}

.blog{
  float: left;
  width: 300px;
  min-height: 166px;
  padding: 27px;
  padding-left: 20px;
  padding-right: 240px;
  background: #ffffff url("../img/bg-strawberry.png") no-repeat;
  border-radius: 18px;
  color:#5a5a5a;
}

.blog p{
  color:#5a5a5a;
  font-size:16px;
  font-weight:500;
  line-height:22px;
  padding:0;
  margin:0;
  margin-bottom: 5px;
}

.blog a{
  color:#353535;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  padding:0;
  margin: 10px 0;
}

.blog a:hover,
.blog a:active{
  color:#ec593c;
}
.blog a:hover + .link-border,
.blog a:active  + .link-border{
  border-bottom:1px solid rgba(255, 188, 158, 0.3);
}

.email-delivery{
  float: right;
  width: 508px;
  min-height: 166px;
  padding: 27px;
  padding-left: 26px;
  padding-right: 26px;
  border-radius: 18px;
  color:#5a5a5a;
  background:#f8f7f4 url("../img/bg-letter.png") no-repeat;
  position:relative;
}
.email-delivery p{
  color:#5a5a5a;
  font-size:16px;
  font-weight:400;
  line-height:22px;
  padding:0;
  margin:0;
  margin-bottom: 10px;
  padding-top: 8px;
}

.label-email-delivery{
  position: absolute;
  top: 40px;
  left: 10px;
  color: #9a9a9a;
  font-size: 11px;
  font-weight:400;
  pointer-events: none;
  transition: transform 200ms ease;
  transform: translateY(-28px);
}

.label-email-delivery::before {
  content: attr(data-first);
  white-space: nowrap;
}

.email-delivery input{
  position: relative;
  color:#353535;
  font-size:16px;
  font-weight:700;
  line-height:24px;
  padding:10px;
  margin-top:26px;
  width: 348px;
  box-shadow:inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  outline:none;
  border:none;
  height:20px;
  border-radius: 3px;
}

.email-delivery input:hover{
   box-shadow:inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.email-delivery input:focus{
   box-shadow:inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}


.email-delivery input:invalid + label{
  transform: translateY(0);
  font-size:16px;
  font-weight:400;
  color:#999999;
}

.email-delivery input:focus + label{
  transform: translateY(-28px);
  font-size:11px;
  font-weight:400;
  color:#5b9ddf;
}


.email-delivery .btn-email-delivery{
    margin-top: 26px;
    float: right;
    padding: 11px 20px;
    font-size: 17px;
    line-height: 20px;
}

.map{
  position: relative;
  min-height: 430px;
}
.map-interactive{
  position: absolute;
  min-height: 430px;
  z-index:60;
  width:100%;
}

.map-bg{
  position: absolute;
  width:1200px;
  left:50%;
  margin-left:-600px;
  min-height: 430px;
  background: #f7f1d9 url("../img/map%20with%20marker.png") no-repeat center;
  color:#000000;
  z-index:55;
}

.div-for-address{
  position:absolute;
  width:1146px;
  left:50%;
  margin-left:-573px;
  
}
.map-address{
  width: 250px;
  min-height: 246px; 
  padding: 30px 26px;
  background: #fefefe;
  color:#343434;
  border-radius: 20px;
  margin-top: 65px;
  position:absolute;
  z-index: 2550;
  right:0;
  top:0;
}

.map-address p{
  font-size: 14px;
  font-weight:400;
  line-height:20px;
  margin:0;
  margin-bottom:25px;
  padding:0;
}

.map-address b{
  font-size: 18px;
  font-weight:700;
  line-height:24px;
  margin-bottom:8px 0;
}
.btn-feedback{
  font-size:17px;
  display: block;
  margin:0 auto;
  
}
.main-footer{
  min-height: 100px;
  padding-bottom: 23px;
}

.footer-social{
  float: left;
  width: 267px;
  padding-top: 35px;
  margin-right: 26px;
}

.footer-social .social-btn{
  width: 31px;
  height: 31px;
  border: 2px solid #c2cec7;
  border-radius: 18px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  text-decoration: none;
}

.footer-social .social-btn:active{
  box-shadow:inset 0 2px 1px 0 #888888;
}

.footer-documents{
  float: left;
  width: 560px;
  padding-top: 35px;
}

.footer-documents-left{
  float: left;
  min-width: 107px;
  padding-left: 128px;
  padding-right: 32px;
  position:relative;
}
.footer-documents-left::after{
  content:"";
  position:absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 13px;
  background-position: -10px -248px;
  top:2px;
  left: 107px;
}

.footer-documents-right{
  float: left;
  min-width: 200px;
  padding-left:
}
 
.footer-documents a{
  display: block;
  font-size: 13px;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
}

.footer-documents .link-for-providers{
  font-weight: 700;
}

.footer-copyright{
  float: right;
  width: 267px;
  padding-top: 20px;
}

.footer-copyright .logo-htmlacademy{
  display: block;
  margin-left: 78px;
  margin-bottom: 8px; 
  width: 108px;
  height: 37px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -625px;
}

.footer-copyright .made-in{
  display:block;
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 400; 
  margin:0;
  padding:0;
  text-align:right;
}

.footer-copyright .link-htmlacademy{
  display:inline-block;
  vertical-align: top;
  padding: 0 4px;
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
}

.footer-copyright .link-htmlacademy:hover,
.footer-copyright .link-htmlacademy:active{
  color:#ffbc9e;
}
.footer-copyright .link-htmlacademy:hover .link-border,
.footer-copyright .link-htmlacademy:active .link-border{
  border-bottom:1px solid rgba(255, 188, 158, 0.3);
}
/* Всплывающая форма */
@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-content {
  position: fixed;
  top: 338px;
  left:50%;
  margin-left:-240px; 
  width: 428px;
  min-height: 397px;
  padding: 25px;
  padding-top: 15px;
  color:#343434 ;
  background:  #f8f7f4;
  border-radius: 10px;
  z-index: 3010;
  display: none;
}

.modal-content-show{
  display:block;
  animation: bounce 0.6s;
}

.modal-error{
  animation: shake 0.6s;
}

.modal-content-close{
  position: absolute;
  top:14px;
  right: 14px;
  width: 16px;
  min-height: 16px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -3px;
  width: 22px;
  height:2px;
  background-color: #000000;
  border-radius: 1px;
}
.modal-content-close::before{
  transform: rotate(45deg);
}
.modal-content-close::after{
  transform: rotate(-45deg);
}

.modal-content p{
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color:#343434;
  padding:0;
  margin:0;
  margin-bottom: 20px;
}

.modal-content form{
  margin: 0;
}

.label-name-feedback,
.label-email-feedback,
.label-text-feedback{
  position: absolute;
  top: 14px;
  left: 10px;
  color: #9a9a9a;
  font-size: 11px;
  font-weight:400;
  z-index: 3;
  pointer-events: none;
  transition: transform 200ms ease;
  transform: translateY(-28px);
}
.label-name-feedback::before,
.label-email-feedback::before,
.label-text-feedback::before{
  content: attr(data-first);
  white-space: nowrap;
}

.modal-content input{
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  display: block;
  width: 236px;
  padding: 9px 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #353535;
  border-radius: 5px;
  box-shadow:inset 0 0 0 1px #b2b2b2;
  outline:none;
  border:none;
}
.modal-content textarea{
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  width:398px;
  height: 134px;
  padding: 9px 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color:#353535;
  border-radius: 5px;
  resize: none;
  box-shadow:inset 0 0 0 1px #b2b2b2;
  outline:none;
  border:none;
}

.modal-content input:focus,
.modal-content textarea:focus{
  box-shadow:inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.modal-content input:hover,
.modal-content textarea:hover{
  box-shadow:inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.modal-content input:invalid + label,
.modal-content textarea:invalid + label{
  transform: translateY(0);
  font-size:16px;
  font-weight:400;
  color:#656565;
}

.modal-content input:focus + label,
.modal-content textarea:focus + label{
   transform: translateY(-28px);
  font-size:11px;
  font-weight:400;
  color:#5b9ddf;
}

.modal-content .btn-form-feedback{
  float:right;
  margin:0;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.modal-overlay-show{
  display: block;
}



/*Каталог*/

.body-catalog{
  background: #849d8f url("../img/bg-light-catalog.png.png") repeat-x;
  color:#ffffff;
}
.main-navigation-current{
  background:rgba(202, 117, 94, 1);
  border-radius: 16px;
  color:#ffffff;
}
.main-navigation-current .link-border{
  border: none;
}
.submenu-link-current{
  color:#ffffff;
  background: #d07058;
  border-radius:0;
  pointer-events: none;
}

.basket-empty-catalog{
  display:none;
}
 .basket-full-catalog{
  display:inline-block;
  vertical-align: top;
}

.container-up{
  min-height: 86px;
  margin-bottom: 22px;
}

.headline{
  float:left;
  width: 560px;
  min-height: 60px;
}

.breadcrumbs{
  margin: 0;
  margin-top: 16px;
  padding: 0;
  list-style: none;
  font-size:0;
}

.breadcrumbs li{
  position:relative;
  display: inline;
  padding:0;
  margin:0;
  padding-right: 20px;
}

.breadcrumbs li::after{
  content:"»";
  position:absolute;
  top:8px;
  right:6px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", "Arial", serif; 
}
.breadcrumbs .current-li::after{
  display:none;
}

.breadcrumbs a {
  display:inline-block;
  vertical-align: top;
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  padding: 6px 0;
  padding-bottom: 3px;
}

.breadcrumbs-current .link-border{
  border:none;
}

.breadcrumbs a:hover,
.breadcrumbs a:active{
  color:#ffbc9e;
}
.breadcrumbs a:hover .link-border,
.breadcrumbs a:active .link-border{
  border-bottom:1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs-current{
  pointer-events: none;
}
.headline h1{
  margin:0;
  padding: 0;
  font-size: 35px;
  line-height: 1;
  color: #ffffff;
  font-weight: 700;
}

.filter{
  min-height: 136px;
  margin-bottom: 26px;
  font-size: 0;
}

.filter-item{
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
}

.filter-title{
  font-size: 14px;
  font-weight:500;
  line-height: 20px;

  color:#ffffff;
  padding:0 15px;
  padding-right: 3px;
  margin-bottom: 3px;
}

.filter-input{
  font-size: 16px;
  font-weight:500;
  line-height: 22px;
  color:#ffffff;
  background:rgba(255, 255, 255, 0.2);
  border-radius:20px;
  min-height: 22px; 
  padding:7px 15px;
}

.filter-sorting{
  position:relative;
  padding-bottom: 13px;
  
}
.filter-sorting .sorting{
  padding-right: 50px;
  cursor: pointer;
  position:relative;
}
.filter-sorting .sorting::before{
  content:"";
  background: url("../img/sprite.png") no-repeat;
  width: 8px;
  height: 5px;
  background-position: -10px -781px;
  position:absolute;
  top:16px;
  right:16px;
}

.filter-sorting .sorting:hover,
.filter-sorting:hover .sorting{
  background: #ffffff;
  color:#343434;
}

.filter-sorting .sorting:hover::before,
.filter-sorting:hover .sorting::before{
  content:"";
  background: url("../img/sprite.png") no-repeat;
  width: 8px;
  height: 5px;
  background-position: -10px -756px;
  position:absolute;
  top:16px;
  right:16px;
}

.filter-sorting ul{
  padding:0;
  margin:0;
  list-style:none;
  position:absolute;
  width:194px;
  min-height:60px;
  background:#ffffff;
  color:#343434;
  display:none;
  z-index:55;
  top:63px;
}
.filter-sorting li{
  list-style:none;

}
.sorting-submenu a{
  text-decoration: none;
  padding:0 20px;
  margin:0;
  color:#343434;
  font-size:14px;
  line-height: 22px;
  font-weight: 400;
  cursor: pointer;
  display:block;
  font-family: "Roboto", "Arial", sans-serif;
  
}
.filter-sorting:hover ul{
  display:block;
}

.sorting-submenu a:hover{
  color:#ffffff;
  background:#1e90ff;
} 

.filter-title-price{
  display:inline-block;
  vertical-align: top;
}
.price-control{
  display:inline-block;
  vertical-align: top;
}
.price-control-input {
  background: transparent;
  border:none;
  font-size: 14px;
  font-weight:500;
  line-height: 20px;
  color:#ffffff;
  width:55px;
  cursor: pointer;
}
.price-control-mininput{
  margin-right: 3px;
}
.price-control span{
  border:none;
  font-size: 14px;
  font-weight:500;
  line-height: 20px;
  color:#ffffff
}

.price-control-maxinput{
  width: 80px;
  margin-left: 4px;
}

.range-control{
  position: relative;
  padding:8px 0;

  width:220;
}
.range-control .scale{
  height: 4px;
  background: rgba(201, 210, 203, 0.5);
  width:190px;
}

.range-control .bar{
  margin-left:39px;
  margin-right:61px;
  height: 4px;
  background: rgba(201, 210, 203, 1);
}

.range-control .toggle{
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  background: #f8f7f4;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.range-control .toggle-min{
  left: 18px;
}

.range-control .toggle-max{
  left: 116px;
}

.filter-fattiness label{
  margin-left: 50px;
  position:relative;
  cursor:pointer;
}

.filter-fattiness label:first-child{
  margin-left: 30px;
}
.filter-fattiness input[type="radio"]{
  display:none;
}

.filter-fattiness input[type="radio"] + .radio-indicator{
  position:absolute;
  border:1px solid #e1e7e4;
  border-radius: 100%;
  width:20px;
  height:20px;
  left: -30px;
}

.filter-fattiness input[type="radio"]:checked + .radio-indicator::before{
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: #e1e7e4;
  border-radius: 100%;
}


.filter-fattiness input[type="radio"] + .radio-indicator:hover{
  border:2px solid #ffffff;
}


.filter-fattiness input[type="radio"]:checked + .radio-indicator:hover::before{
  background-color: #ffffff;
}


.filter-additive label{
  margin-left: 50px;
  position:relative;
  cursor:pointer;
}

.filter-additive label:first-child{
  margin-left: 45px;
}

.filter-additive input[type="checkbox"]{
  display:none;
}

.filter-additive input[type="checkbox"] + .checkbox-indicator{
  position:absolute;
  border:1px solid #e1e7e4;
  border-radius: 4px;
  width:20px;
  height:20px;
  left: -25px;
 
}
.filter-additive input[type="checkbox"] + .checkbox-indicator:hover{
  border:2px solid #ffffff;
}

.filter-additive input[type="checkbox"]:checked + .checkbox-indicator::before{
  content: "";
  position: absolute;
  top: 10px;
  left: 3px;
  width: 7px;
  height: 3px;
  background-color: #e1e7e4;
  transform: rotate(45deg);
}

.filter-additive input[type="checkbox"]:checked + .checkbox-indicator:hover::before{
  background-color: #ffffff;
}
    
.filter-additive input[type="checkbox"]:checked + .checkbox-indicator::after{
  content: "";
  position: absolute;
  top: 9px;
  left: 6px;
  width: 12px;
  height: 3px;
  background-color: #e1e7e4;
  transform: rotate(-45deg);
}

.filter-additive input[type="checkbox"]:checked + .checkbox-indicator:hover::after{
  background-color: #ffffff;
}

.btn-filter{
  border:none;
  vertical-align: bottom;
  padding:6px 30px;
  border: 2px solid #ffffff;
  min-height:16px;
}

.btn-filter:hover{
  background: #fafbfb;
  color: #363636;
}

.btn-filter:active{
  background: #ededed;
  color: #363636;
  box-shadow:inset 0 2px 1px 0 #696969;
  border: 2px solid #ededed;
}


.container-catalog{
  font-size: 0;
  width: 1166px;
  margin: 0 auto;
  
}

.container-catalog article{
  display: inline-block;
  vertical-align: top;
  min-height: 300px;
  width: 267px;
  margin-right: 6px;
  margin-bottom: 30px;
  font-size: 16px;
  position: relative;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.container-catalog article:nth-child(4n){
  margin-right: 0;
}

.container-catalog img{
  border-radius: 100%; 
  margin-bottom: 10px;
}

.container-catalog .price{
  position: absolute;
  top: 220px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.container-catalog .amount{
  margin:0;
  padding: 0;
  font-size:45px;
  line-height: 1;
  font-weight:700;
}

.container-catalog .amount + span{
  font-size:30px;
  line-height: 1;
  font-weight:700;
}

.container-catalog .link-icecream{
  display:block;
  color:#ffffff;
  font-weight: 500;
  line-height: 22px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  width: 256px;
  margin: 0 auto;
}
.container-catalog .link-icecream:hover,
.container-catalog .link-icecream:active{
  color:#ffbc9e;
}
.container-catalog .link-icecream:hover .link-border,
.container-catalog .link-icecream:active .link-border{
  border-bottom:1px solid rgba(255, 188, 158, 0.3);
}


.container-catalog .bth-quick-view{
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 27px;
  padding-right: 27px;
  
  z-index: 51;
}

.container-catalog article:hover{
 background:rgba(255, 255, 255, 0.3);
  border-radius: 5px;
} 

.container-catalog article:hover .hit-btn-bg{
  display:block;}

.container-catalog article:hover .bth-quick-view{
  display:inline-block;
  vertical-align: top;
}











.pages{
  float: right;
  min-height: 32px;
  margin:0;
  margin-top: 45px;
  margin-bottom: 35px;
  padding:0;
  font-size: 0;
  list-style: none;
  color: #ffffff;
}

.pages li{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 24px;
  margin:0;
  padding: 0;
}

.pages .page-link{
  display:inline-block;
  vertical-align: top;
  min-width:26px;
  min-height:24px;
  padding-top: 2px;
  margin: 0 2px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align:top;
  text-decoration: none;
  border-radius: 100%;
}

.pages .page-link-numbers:hover{
  background:#9db1a5;
  color: #ffffff;
}

.pages .page-link-numbers:active{
  background:#ffffff;
  color:#353535;
}

.pages .page-next,
.pages .page-previous{
  min-width:16px;
  margin:0;
}

.pages .page-previous{
  margin-right: 6px;
  color: #ffffff;
}
.pages .page-next{
  margin-left: 6px;
  color: #ffffff;
}

.pages .disabled{
  color:rgba(255, 255, 255, 0.2);
  pointer-events: none;
}

.pages .current{
  background:#ffffff;
  color:#353535;
  pointer-events: none;
}

.footer-border{
  border-top: 2px solid rgba(255, 255, 255, 0.3);  
}













